aside{
    text-align: center;
    text-transform: lowercase;
    margin-right: auto;
    margin-right: auto;
}
ul{
    list-style-type: none;
}
div{
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 20px;
}

nav{
    background-color: whitesmoke;
    background-blend-mode:darken;
    border: 4px solid black;   
        
}
footer{
    background-color: black;
    color:azure;
}
main h1{ 
    font-size: 25px; color:darkgray; 
    background-color: white;
    text-align: center;
    font-family: 'Livvic', sans-serif;
    padding: 20px;
    text-transform: uppercase;
}
h1{
    font-size: 35px; color:black; 
    background-color: white;
    text-align: center;
    font-family: 'Livvic', sans-serif;
    padding: 20px;
    text-transform: uppercase;
}

main h2{
    font-size: 30px; 
    color: darkgray;
    text-align: center;
    font-family: 'Livvic', sans-serif;
    clear:both;
}

main p{
    text-align: center;
    color: black;
    font-family: 'Livvic', sans-serif;
    line-height: 1.5;
}
a{
    text-align: center;
}
body{
    text-align: justify;
    background-color:white;
    font-family: 'Livvic', sans-serif;
}

img{
    text-align: center;
    image-resolution: 15px;
    
}
aside img{
    display: inline;
}
blockquote{
    background-color: lightgray;
    text-align: center;
    color: black;
    font-family: 'Livvic', sans-serif;
    padding: 16px;
    border: 10px solid #C2CCCA;
    width: 250px;
    margin: 0px;
    box-sizing: border-box;
    float: left;
}
main{
    background-color:whitesmoke;
}
main a{
    color: #851944;
}
aside a{
    color: inherit;
    font-family: 'Livvic', sans-serif;
}
p{
    margin: 20px 0;
}

                                    /*<!-- CLASSES -->*/

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.icones-sociais li{
    text-align:justify;
    display: inline;
}
.links {
    margin-right: 1050px;
}
.greca{
    float: right;
    text-align: center;
    font-family: 'Livvic', sans-serif;
    padding: 16px;
    border: 10px solid #C2CCCA;
    width: 220px;
    height: 180px;
    margin: 0px;
    box-sizing: border-box;
            
}
